---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import { Image } from "@astrojs/image/components";
import heroImage from "../../assets/Frame.png";

const menuitems = [
];
---

<Container>
  <header
    class="flex flex-col lg:flex-row justify-between items-center my-5"
    x-data="{ open: false }"
    x-init="$watch('open', value => console.log(value))">
    <div class="flex w-full lg:w-auto items-center justify-between">
      <a href="/" class="text-lg"
        >
        <Image src={heroImage} alt="ZKSynth" width="33" height="37" quality="80" />
      </a>
    </div>
    <div >
      <div class="hidden lg:flex items-center gap-4">
        <Link href="https://twitter.com/zkSynth" size="md">Twitter</Link>
        <Link
        size="lg"
        style="outline"
        href="http://discord.gg/DcVSvsdDHy" target="_blank">Join Discord</Link
      >
      </div>
    </div>
  </header>
</Container>
