---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Highly Scalable",
    description:
      "Can support an unlimited number of synthetic assets with fast and cheap transactions on zkSync",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Capital Efficient",
    description:
      "Lets you create synths with any token, ETH, any ERC20 token, and even ibTokens (Interest Bearing Tokens)",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Composable",
    description:
      "Enables you to create your own synthetic assets by combining existing ones, such as synthetic indexes, baskets, or derivatives",
    icon: "bx:bxs-data",
  },
  {
    title: "Low Risk",
    description:
      "Using segregated debt pools based on asset risk, so you are not exposed to the debt of other users or assets",
    icon: "bx:bxs-bot",
  },
  {
    title: "Secure",
    description:
      "Audited, with no central party, and no possibility of censorship or seizure of funds",
    icon: "bx:bxs-lock",
  },
  {
    title: "Community Owned",
    description:
      "Governed by DAO, with a community treasury, and a community token (ZS) that is used for staking and voting",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Features
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    With zkSynth, you can enjoy the benefits of:
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
