---
import { Image } from "@astrojs/image/components";
import heroImage from "assets/hero-image-01.png";
import Link from "@components/ui/link.astro";
---

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-8">
  <div class="py-6 md:order-1 hidden md:block">
    <svg width="501" height="426" viewBox="0 0 501 426" fill="none" xmlns="http://www.w3.org/2000/svg">
<g filter="url(#filter0_d_35_287)">
<circle cx="246.5" cy="207.688" r="22.1731" fill="white"/>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M247.397 208.816C247.087 209.433 246.558 209.83 245.984 209.965C245.897 209.965 245.764 210.008 245.632 210.008C244.662 210.008 244.088 209.258 244.088 208.155C244.088 206.742 244.926 206.081 245.984 205.771C246.558 205.639 247.221 205.594 247.882 205.594V206.125C247.882 207.139 247.925 207.933 247.397 208.816ZM247.882 203.566C247.308 203.61 246.645 203.654 245.984 203.74C244.97 203.874 243.956 204.051 243.119 204.448C241.487 205.11 240.383 206.522 240.383 208.595C240.383 211.2 242.059 212.523 244.178 212.523C244.883 212.523 245.456 212.434 245.984 212.303C246.824 212.037 247.528 211.552 248.366 210.669C248.852 211.331 248.985 211.641 249.822 212.347C250.043 212.434 250.264 212.434 250.439 212.303C250.969 211.861 251.896 211.066 252.381 210.625C252.601 210.449 252.558 210.184 252.424 209.965C251.94 209.346 251.453 208.816 251.453 207.625V203.653C251.453 201.977 251.587 200.432 250.352 199.286C249.338 198.36 247.749 198.006 246.514 198.006H245.984C243.736 198.137 241.355 199.108 240.824 201.889C240.736 202.242 241.001 202.374 241.178 202.417L243.648 202.727C243.912 202.682 244.045 202.461 244.088 202.242C244.308 201.271 245.103 200.786 245.984 200.696H246.162C246.691 200.696 247.265 200.918 247.573 201.36C247.925 201.889 247.882 202.595 247.882 203.214V203.566Z" fill="black"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M256.803 212.974V212.973C256.794 212.765 256.75 212.607 256.664 212.475L256.654 212.462L256.644 212.449C256.555 212.353 256.471 212.316 256.379 212.276C256.105 212.17 255.707 212.114 255.228 212.113C254.883 212.113 254.503 212.146 254.122 212.229L254.12 212.203L253.736 212.331L253.729 212.335L253.512 212.406V212.415C253.263 212.518 253.028 212.65 252.81 212.809C252.676 212.909 252.566 213.042 252.56 213.245C252.56 213.305 252.573 213.363 252.598 213.417C252.623 213.471 252.66 213.519 252.705 213.557C252.755 213.597 252.813 213.626 252.875 213.643C252.936 213.659 253.001 213.663 253.064 213.654L253.083 213.653L253.097 213.651C253.285 213.611 253.559 213.584 253.88 213.539C254.154 213.508 254.446 213.486 254.699 213.486C254.877 213.485 255.038 213.498 255.148 213.521C255.196 213.53 255.242 213.545 255.285 213.567C255.294 213.603 255.297 213.64 255.295 213.678C255.298 213.889 255.209 214.282 255.085 214.665C254.965 215.048 254.819 215.433 254.723 215.688C254.698 215.75 254.685 215.815 254.685 215.882C254.682 215.984 254.725 216.109 254.814 216.191C254.901 216.273 255.013 216.306 255.108 216.306H255.112C255.253 216.305 255.373 216.249 255.477 216.168C256.452 215.291 256.792 213.889 256.806 213.1L256.803 212.974V212.974ZM253.911 214.19C253.808 214.19 253.707 214.213 253.614 214.257C253.507 214.299 253.397 214.349 253.294 214.393L253.143 214.456L252.945 214.535V214.537C250.801 215.407 248.548 215.917 246.463 215.962C246.387 215.964 246.309 215.964 246.235 215.964C242.956 215.967 240.282 214.445 237.584 212.946C237.496 212.899 237.398 212.873 237.298 212.871C237.177 212.871 237.053 212.917 236.962 213.001C236.916 213.045 236.88 213.097 236.856 213.154C236.831 213.212 236.818 213.274 236.819 213.337C236.817 213.5 236.906 213.651 237.029 213.748C239.561 215.948 242.337 217.991 246.071 217.994C246.144 217.994 246.218 217.991 246.292 217.99C248.667 217.937 251.352 217.134 253.437 215.825L253.45 215.816C253.729 215.649 253.997 215.464 254.252 215.261C254.412 215.142 254.523 214.957 254.523 214.764C254.516 214.422 254.225 214.19 253.912 214.19H253.911Z" fill="black"/>
<circle cx="246.812" cy="208" r="87.2934" stroke="black" stroke-width="0.3"/>
<circle cx="246.812" cy="208" r="141.633" stroke="black" stroke-width="0.3"/>
<circle cx="246.812" cy="208" r="192.85" stroke="black" stroke-width="0.3"/>
<g filter="url(#filter1_d_35_287)">
<circle cx="245.876" cy="120.244" r="22.1731" fill="white"/>
</g>
<path d="M251.902 123.77C251.902 125.014 251.499 126.086 250.693 126.984C249.887 127.883 248.84 128.438 247.553 128.649V130.784C247.553 130.898 247.516 130.992 247.443 131.065C247.37 131.138 247.277 131.175 247.164 131.175H245.524C245.418 131.175 245.327 131.136 245.25 131.059C245.173 130.982 245.135 130.89 245.135 130.784V128.649C244.6 128.576 244.084 128.45 243.586 128.271C243.088 128.092 242.677 127.911 242.353 127.728C242.029 127.545 241.729 127.35 241.454 127.143C241.179 126.935 240.99 126.783 240.889 126.685C240.788 126.588 240.717 126.515 240.676 126.466C240.539 126.295 240.531 126.128 240.652 125.966L241.903 124.319C241.96 124.237 242.053 124.189 242.183 124.172C242.304 124.156 242.402 124.193 242.474 124.282L242.499 124.307C243.414 125.112 244.398 125.62 245.451 125.831C245.751 125.897 246.05 125.929 246.35 125.929C247.006 125.929 247.583 125.754 248.081 125.404C248.579 125.055 248.828 124.559 248.828 123.916C248.828 123.688 248.767 123.473 248.646 123.27C248.525 123.066 248.389 122.896 248.239 122.757C248.089 122.619 247.852 122.467 247.528 122.3C247.204 122.133 246.937 122.003 246.726 121.909C246.516 121.816 246.192 121.684 245.755 121.513C245.439 121.383 245.19 121.281 245.007 121.208C244.825 121.135 244.576 121.027 244.26 120.885C243.944 120.742 243.691 120.616 243.501 120.507C243.311 120.397 243.082 120.252 242.815 120.073C242.547 119.895 242.331 119.722 242.165 119.555C241.999 119.388 241.822 119.189 241.636 118.957C241.45 118.725 241.306 118.49 241.205 118.25C241.104 118.01 241.019 117.739 240.95 117.438C240.881 117.138 240.846 116.82 240.846 116.487C240.846 115.365 241.243 114.381 242.037 113.535C242.831 112.689 243.863 112.144 245.135 111.9V109.704C245.135 109.598 245.173 109.507 245.25 109.43C245.327 109.352 245.418 109.314 245.524 109.314H247.164C247.277 109.314 247.37 109.35 247.443 109.424C247.516 109.497 247.553 109.59 247.553 109.704V111.851C248.014 111.9 248.462 111.994 248.895 112.132C249.328 112.27 249.681 112.406 249.952 112.541C250.223 112.675 250.48 112.827 250.723 112.998C250.966 113.169 251.124 113.287 251.197 113.352C251.27 113.417 251.331 113.474 251.38 113.523C251.517 113.669 251.537 113.823 251.44 113.986L250.456 115.767C250.391 115.889 250.298 115.954 250.177 115.962C250.063 115.987 249.954 115.958 249.849 115.877C249.824 115.853 249.766 115.804 249.673 115.731C249.579 115.657 249.422 115.55 249.199 115.407C248.976 115.265 248.739 115.135 248.488 115.017C248.237 114.899 247.935 114.793 247.583 114.7C247.231 114.606 246.884 114.559 246.544 114.559C245.775 114.559 245.147 114.734 244.661 115.084C244.175 115.434 243.932 115.885 243.932 116.438C243.932 116.65 243.967 116.845 244.036 117.024C244.104 117.203 244.224 117.371 244.394 117.53C244.564 117.689 244.724 117.823 244.874 117.933C245.024 118.042 245.25 118.168 245.554 118.311C245.858 118.453 246.103 118.563 246.289 118.64C246.475 118.717 246.759 118.829 247.14 118.976C247.569 119.138 247.897 119.266 248.124 119.36C248.35 119.453 248.658 119.596 249.047 119.787C249.436 119.978 249.741 120.151 249.964 120.305C250.187 120.46 250.438 120.663 250.717 120.915C250.997 121.167 251.211 121.426 251.361 121.69C251.511 121.954 251.639 122.265 251.744 122.623C251.849 122.981 251.902 123.363 251.902 123.77Z" fill="black"/>
<g filter="url(#filter2_d_35_287)">
<circle cx="357.678" cy="363.836" r="22.1731" fill="white"/>
</g>
<path d="M363.704 367.362C363.704 368.606 363.301 369.678 362.495 370.577C361.689 371.475 360.643 372.03 359.355 372.242V374.377C359.355 374.49 359.318 374.584 359.246 374.657C359.173 374.73 359.079 374.767 358.966 374.767H357.326C357.221 374.767 357.13 374.728 357.053 374.651C356.976 374.574 356.937 374.482 356.937 374.377V372.242C356.403 372.169 355.886 372.042 355.388 371.864C354.89 371.685 354.479 371.504 354.155 371.321C353.831 371.138 353.532 370.943 353.256 370.735C352.981 370.528 352.792 370.375 352.691 370.278C352.59 370.18 352.519 370.107 352.479 370.058C352.341 369.887 352.333 369.721 352.454 369.558L353.706 367.911C353.762 367.83 353.855 367.781 353.985 367.765C354.107 367.748 354.204 367.785 354.277 367.874L354.301 367.899C355.216 368.704 356.2 369.212 357.253 369.424C357.553 369.489 357.852 369.521 358.152 369.521C358.808 369.521 359.385 369.346 359.883 368.997C360.381 368.647 360.63 368.151 360.63 367.508C360.63 367.281 360.57 367.065 360.448 366.862C360.327 366.659 360.191 366.488 360.041 366.35C359.891 366.211 359.655 366.059 359.331 365.892C359.007 365.725 358.739 365.595 358.529 365.502C358.318 365.408 357.994 365.276 357.557 365.105C357.241 364.975 356.992 364.873 356.81 364.8C356.627 364.727 356.378 364.619 356.063 364.477C355.747 364.335 355.494 364.209 355.303 364.099C355.113 363.989 354.884 363.845 354.617 363.666C354.35 363.487 354.133 363.314 353.967 363.147C353.801 362.981 353.625 362.781 353.438 362.55C353.252 362.318 353.108 362.082 353.007 361.842C352.906 361.602 352.821 361.332 352.752 361.031C352.683 360.73 352.649 360.413 352.649 360.079C352.649 358.957 353.046 357.973 353.839 357.127C354.633 356.281 355.666 355.736 356.937 355.492V353.297C356.937 353.191 356.976 353.099 357.053 353.022C357.13 352.945 357.221 352.906 357.326 352.906H358.966C359.079 352.906 359.173 352.943 359.246 353.016C359.318 353.089 359.355 353.183 359.355 353.297V355.444C359.817 355.492 360.264 355.586 360.697 355.724C361.131 355.862 361.483 355.999 361.754 356.133C362.026 356.267 362.283 356.419 362.526 356.59C362.769 356.761 362.927 356.879 363 356.944C363.072 357.009 363.133 357.066 363.182 357.115C363.319 357.261 363.34 357.416 363.242 357.578L362.258 359.359C362.194 359.481 362.101 359.547 361.979 359.555C361.866 359.579 361.756 359.551 361.651 359.469C361.627 359.445 361.568 359.396 361.475 359.323C361.382 359.25 361.224 359.142 361.001 359C360.778 358.857 360.541 358.727 360.29 358.609C360.039 358.491 359.738 358.386 359.385 358.292C359.033 358.199 358.687 358.152 358.347 358.152C357.577 358.152 356.949 358.327 356.463 358.676C355.977 359.026 355.735 359.477 355.735 360.03C355.735 360.242 355.769 360.437 355.838 360.616C355.907 360.795 356.026 360.964 356.196 361.122C356.366 361.281 356.526 361.415 356.676 361.525C356.826 361.635 357.053 361.761 357.356 361.903C357.66 362.045 357.905 362.155 358.091 362.232C358.278 362.31 358.561 362.421 358.942 362.568C359.371 362.73 359.699 362.859 359.926 362.952C360.153 363.046 360.46 363.188 360.849 363.379C361.238 363.57 361.544 363.743 361.766 363.898C361.989 364.052 362.24 364.255 362.52 364.508C362.799 364.76 363.014 365.018 363.164 365.282C363.313 365.546 363.441 365.858 363.546 366.215C363.652 366.573 363.704 366.955 363.704 367.362Z" fill="black"/>
<g filter="url(#filter3_d_35_287)">
<circle cx="246.5" cy="293.257" r="22.1731" fill="white"/>
</g>
<path d="M241.987 285.098C242.572 285.258 243.156 285.364 243.741 285.524C244.325 285.683 244.91 285.79 245.494 285.949C245.654 286.002 245.707 285.949 245.76 285.79C245.972 284.886 246.185 284.035 246.397 283.131C246.451 282.971 246.504 282.918 246.663 282.971C247.194 283.131 247.673 283.237 248.204 283.344C248.363 283.397 248.363 283.45 248.31 283.556C248.098 284.407 247.885 285.311 247.673 286.162C247.673 286.215 247.673 286.268 247.62 286.375C248.045 286.481 248.523 286.587 248.948 286.694C249.001 286.694 249.054 286.587 249.107 286.534C249.267 285.843 249.426 285.205 249.639 284.513L249.798 283.875C249.798 283.769 249.851 283.716 249.958 283.769C250.489 283.929 251.02 284.035 251.605 284.194C251.658 284.194 251.658 284.248 251.711 284.248C251.552 284.939 251.392 285.577 251.233 286.215C251.18 286.481 251.127 286.747 251.02 287.013C250.967 287.172 251.02 287.226 251.18 287.279L252.933 288.076C253.465 288.395 253.943 288.821 254.315 289.353C254.793 290.15 254.846 291.001 254.634 291.852C254.474 292.437 254.262 292.969 253.837 293.394C253.518 293.713 253.093 293.926 252.668 294.085C252.614 294.085 252.561 294.138 252.455 294.138C252.668 294.298 252.88 294.404 253.093 294.564C253.73 295.043 254.155 295.627 254.368 296.372C254.474 296.957 254.421 297.595 254.262 298.18C254.049 298.924 253.783 299.563 253.305 300.147C252.721 300.839 251.977 301.211 251.127 301.317C250.011 301.477 248.948 301.371 247.885 301.211C247.726 301.158 247.62 301.211 247.566 301.371C247.354 302.221 247.141 303.125 246.929 303.976C246.876 304.189 246.876 304.242 246.61 304.136C246.132 304.029 245.6 303.87 245.122 303.764C244.963 303.71 244.963 303.657 245.016 303.551C245.228 302.647 245.441 301.743 245.707 300.892C245.707 300.786 245.76 300.732 245.654 300.679C245.228 300.573 244.803 300.467 244.325 300.36C244.219 300.839 244.059 301.317 243.953 301.796C243.847 302.275 243.687 302.753 243.581 303.232C243.528 303.338 243.528 303.391 243.369 303.338C242.837 303.179 242.306 303.072 241.775 302.966C241.615 302.913 241.615 302.859 241.668 302.753C241.881 301.849 242.093 300.945 242.359 300.094C242.359 300.041 242.412 299.988 242.412 299.882C241.19 299.563 239.968 299.243 238.693 298.924C238.799 298.712 238.852 298.552 238.958 298.339C239.171 297.861 239.383 297.382 239.543 296.957C239.596 296.797 239.649 296.797 239.808 296.797C240.18 296.904 240.606 297.01 240.978 297.063C241.403 297.17 241.721 296.957 241.775 296.585C242.465 293.873 243.156 291.161 243.794 288.395C243.9 287.97 243.634 287.491 243.156 287.332C242.678 287.172 242.2 287.066 241.775 286.96C241.668 286.96 241.615 286.906 241.668 286.8C241.828 286.215 241.987 285.577 242.147 284.992C241.934 285.152 241.934 285.152 241.987 285.098ZM244.697 298.233C244.75 298.233 244.803 298.286 244.803 298.286C245.654 298.499 246.557 298.765 247.46 298.818C248.098 298.871 248.682 298.871 249.267 298.659C250.276 298.339 250.702 297.01 250.117 296.159C249.851 295.734 249.426 295.468 249.001 295.202C248.045 294.67 246.929 294.458 245.866 294.245C245.707 294.192 245.707 294.245 245.654 294.404C245.547 294.936 245.388 295.415 245.282 295.947C245.069 296.691 244.91 297.435 244.697 298.233ZM249.161 292.809C249.267 292.809 249.533 292.756 249.745 292.703C250.755 292.49 251.286 291.32 250.755 290.416C250.489 289.938 250.011 289.618 249.533 289.406C248.789 289.087 248.045 288.927 247.248 288.714C247.088 288.661 247.035 288.714 246.982 288.874C246.716 289.991 246.451 291.054 246.132 292.171C246.079 292.277 246.132 292.33 246.238 292.384C246.451 292.437 246.61 292.49 246.823 292.543C247.62 292.65 248.31 292.809 249.161 292.809Z" fill="black"/>
<g filter="url(#filter4_d_35_287)">
<circle cx="333.944" cy="207.688" r="22.1731" fill="white"/>
</g>
<path d="M334.256 219.243L323.638 213.465V201.91L334.256 196.133L344.874 201.91V213.465L334.256 219.243ZM327.207 211.523L334.256 215.357L341.305 211.523V203.852L334.256 200.018L327.207 203.852V211.523Z" fill="black"/>
<g filter="url(#filter5_d_35_287)">
<circle cx="127.202" cy="363.836" r="22.1731" fill="white"/>
</g>
<path d="M127.515 375.392L116.896 369.614V358.059L127.515 352.282L138.133 358.059V369.614L127.515 375.392ZM120.466 367.672L127.515 371.506L134.564 367.672V360.001L127.515 356.167L120.466 360.001V367.672Z" fill="black"/>
<g filter="url(#filter6_d_35_287)">
<circle cx="159.057" cy="205.189" r="22.1731" fill="white"/>
</g>
<path d="M154.928 203.602L159.246 199.285L163.566 203.605L166.078 201.092L159.246 194.259L152.415 201.09L154.928 203.602Z" fill="black"/>
<path d="M148.126 205.377L150.638 202.864L153.151 205.377L150.638 207.889L148.126 205.377Z" fill="black"/>
<path d="M154.928 207.151L159.246 211.47L163.567 207.149L166.08 209.659L159.248 216.492L152.415 209.664L154.928 207.151Z" fill="black"/>
<path d="M165.337 205.377L167.849 202.864L170.362 205.376L167.849 207.89L165.337 205.377Z" fill="black"/>
<path d="M161.795 205.376L159.246 202.826L157.362 204.71L157.144 204.926L156.698 205.372L159.246 207.919L161.795 205.378V205.376Z" fill="black"/>
<g filter="url(#filter7_d_35_287)">
<circle cx="133.448" cy="126.49" r="22.1731" fill="white"/>
</g>
<path d="M135.87 118.748C136.262 118.312 136.56 117.806 136.749 117.259C136.937 116.712 137.011 116.135 136.968 115.56C135.766 115.653 134.65 116.199 133.861 117.079C133.483 117.5 133.197 117.991 133.019 118.521C132.841 119.052 132.775 119.611 132.825 120.167C133.412 120.171 133.991 120.046 134.519 119.8C135.047 119.554 135.509 119.194 135.87 118.748ZM138.48 126.182C138.487 125.417 138.696 124.665 139.087 123.999C139.479 123.333 140.04 122.774 140.717 122.375C140.289 121.781 139.724 121.291 139.066 120.944C138.408 120.597 137.676 120.403 136.926 120.376C135.311 120.216 133.82 121.286 132.96 121.286C132.1 121.286 130.889 120.396 129.542 120.416C128.662 120.444 127.805 120.692 127.053 121.135C126.302 121.578 125.682 122.202 125.255 122.945C123.432 126.002 124.789 130.549 126.611 133.017C127.44 134.226 128.476 135.596 129.843 135.546C131.21 135.496 131.655 134.726 133.24 134.726C134.824 134.726 135.311 135.546 136.657 135.516C138.004 135.486 138.956 134.276 139.826 133.067C140.443 132.189 140.924 131.23 141.255 130.219C140.435 129.882 139.734 129.319 139.241 128.602C138.748 127.884 138.483 127.043 138.48 126.182Z" fill="black"/>
<g filter="url(#filter8_d_35_287)">
<circle cx="362.675" cy="131.487" r="22.1731" fill="white"/>
</g>
<g clip-path="url(#clip0_35_287)">
<path d="M363.241 130.921H371.731V122.996C371.731 122.846 371.672 122.702 371.566 122.596C371.459 122.49 371.315 122.43 371.165 122.43H363.241V130.921Z" fill="black"/>
<path d="M362.109 130.921V122.43H354.184C354.034 122.43 353.89 122.49 353.784 122.596C353.678 122.702 353.618 122.846 353.618 122.996V130.921H362.109Z" fill="black"/>
<path d="M362.109 132.053H353.618V139.978C353.618 140.128 353.678 140.272 353.784 140.378C353.89 140.484 354.034 140.544 354.184 140.544H362.109V132.053Z" fill="#040404"/>
<path d="M363.241 132.053V140.544H371.165C371.315 140.544 371.459 140.484 371.566 140.378C371.672 140.272 371.731 140.128 371.731 139.978V132.053H363.241Z" fill="black"/>
</g>
<g filter="url(#filter9_d_35_287)">
<circle cx="145.94" cy="305.749" r="22.1731" fill="white"/>
</g>
<path d="M145.94 296.068C143.094 296.08 139.788 296.56 136.259 297.963C136.259 297.963 136.416 298.387 136.801 299.089C140.03 297.673 143.185 297.226 145.94 297.246V297.248C148.695 297.224 151.85 297.674 155.079 299.088C155.511 298.307 155.621 297.962 155.621 297.962C152.092 296.562 148.786 296.08 145.94 296.068Z" fill="black"/>
<path d="M143.213 300.129L145.94 315.43L148.652 300.133C151.233 300.133 152.047 300.416 152.164 301.577C152.164 301.577 153.898 300.93 154.771 299.61C151.362 298.025 147.937 297.953 147.937 297.953L145.94 300.394V300.396H145.937L145.94 300.394L143.943 297.956C143.943 297.956 140.519 298.029 137.11 299.615C137.984 300.934 139.715 301.575 139.715 301.575C139.834 300.415 140.647 300.129 143.213 300.129V300.129Z" fill="black"/>
<g filter="url(#filter10_d_35_287)">
<circle cx="356.429" cy="292.633" r="22.1731" fill="white"/>
</g>
<path d="M361.979 287.74H359.75C359.556 286.982 359.213 286.273 358.742 285.658H361.979C362.246 285.658 362.503 285.548 362.692 285.353C362.881 285.158 362.987 284.893 362.987 284.617C362.987 284.341 362.881 284.076 362.692 283.881C362.503 283.686 362.246 283.576 361.979 283.576H350.887C350.619 283.576 350.363 283.686 350.174 283.881C349.985 284.076 349.878 284.341 349.878 284.617C349.878 284.893 349.985 285.158 350.174 285.353C350.363 285.548 350.619 285.658 350.887 285.658H354.416C355.082 285.66 355.733 285.857 356.295 286.226C356.857 286.594 357.307 287.119 357.592 287.74H350.887C350.619 287.74 350.363 287.85 350.174 288.045C349.985 288.24 349.878 288.505 349.878 288.781C349.878 289.057 349.985 289.322 350.174 289.517C350.363 289.712 350.619 289.822 350.887 289.822H357.945C357.824 290.687 357.407 291.478 356.768 292.051C356.129 292.624 355.313 292.941 354.466 292.945H350.887C350.84 292.94 350.793 292.94 350.746 292.945C350.679 292.934 350.611 292.934 350.544 292.945C350.475 292.969 350.411 293.004 350.352 293.049L350.231 293.122C350.176 293.173 350.129 293.233 350.09 293.299C350.056 293.345 350.026 293.394 349.999 293.445C349.99 293.507 349.99 293.57 349.999 293.632C349.928 293.736 349.886 293.859 349.878 293.986C349.874 294.034 349.874 294.083 349.878 294.132C349.868 294.201 349.868 294.271 349.878 294.34C349.902 294.411 349.936 294.478 349.979 294.538C349.979 294.538 349.979 294.621 350.05 294.663L356.1 301.95C356.274 302.159 356.521 302.289 356.788 302.311C357.055 302.332 357.319 302.243 357.522 302.064C357.725 301.885 357.851 301.629 357.872 301.354C357.893 301.079 357.807 300.806 357.633 300.596L353.085 295.027H354.416C355.804 295.033 357.143 294.502 358.17 293.538C359.196 292.574 359.836 291.249 359.962 289.822H361.979C362.246 289.822 362.503 289.712 362.692 289.517C362.881 289.322 362.987 289.057 362.987 288.781C362.987 288.505 362.881 288.24 362.692 288.045C362.503 287.85 362.246 287.74 361.979 287.74Z" fill="black"/>
<g filter="url(#filter11_d_35_287)">
<circle cx="53.5" cy="205.189" r="22.1731" fill="white"/>
</g>
<path d="M57.9948 211.748L58.4583 213.854C58.4848 213.96 58.4716 214.059 58.4186 214.152C58.3656 214.245 58.2906 214.309 58.1934 214.344L58.1272 214.357C58.0919 214.375 58.0455 214.391 57.9881 214.404C57.9307 214.417 57.8601 214.437 57.7762 214.463C57.6923 214.49 57.5974 214.514 57.4915 214.536C57.3855 214.558 57.2729 214.58 57.1537 214.603C57.0345 214.625 56.9021 214.647 56.7564 214.669C56.6107 214.691 56.4628 214.711 56.3127 214.728C56.1626 214.746 56.0014 214.759 55.8292 214.768C55.6571 214.777 55.4871 214.781 55.3193 214.781C53.2531 214.781 51.4474 214.205 49.9022 213.053C48.357 211.901 47.3062 210.349 46.75 208.397H45.4917C45.3769 208.397 45.2776 208.355 45.1937 208.272C45.1098 208.188 45.0679 208.088 45.0679 207.974V206.477C45.0679 206.362 45.1098 206.263 45.1937 206.179C45.2776 206.095 45.3769 206.053 45.4917 206.053H46.3659C46.3482 205.55 46.3526 205.086 46.3791 204.662H45.4917C45.3681 204.662 45.2665 204.623 45.1871 204.543C45.1076 204.464 45.0679 204.362 45.0679 204.238V202.729C45.0679 202.605 45.1076 202.503 45.1871 202.424C45.2665 202.344 45.3681 202.305 45.4917 202.305H46.7897C47.3813 200.45 48.4563 198.958 50.0148 197.828C51.5733 196.698 53.3414 196.133 55.3193 196.133C56.22 196.133 57.0765 196.234 57.8888 196.437C57.9859 196.464 58.0742 196.53 58.1537 196.636C58.2067 196.733 58.2199 196.839 58.1934 196.954L57.6239 199.06C57.5974 199.175 57.5356 199.261 57.4385 199.318C57.3414 199.375 57.2354 199.386 57.1206 199.351L57.0676 199.338C57.0323 199.329 56.9815 199.318 56.9153 199.305L56.6835 199.258L56.3855 199.212L56.0412 199.172L55.6571 199.139L55.2663 199.126C54.1538 199.126 53.156 199.409 52.273 199.974C51.39 200.539 50.7278 201.316 50.2863 202.305H56.4849C56.6261 202.305 56.7365 202.358 56.816 202.464C56.9043 202.57 56.9352 202.684 56.9087 202.808L56.5908 204.318C56.5467 204.548 56.4054 204.662 56.167 204.662H49.7035C49.6771 204.989 49.6771 205.453 49.7035 206.053H55.7829C55.9153 206.053 56.0257 206.106 56.114 206.212C56.1935 206.318 56.22 206.437 56.1935 206.57L55.8756 208.053C55.8579 208.15 55.8094 208.232 55.7299 208.298C55.6504 208.364 55.5621 208.397 55.465 208.397H50.3393C50.7631 209.43 51.4232 210.249 52.3194 210.854C53.2156 211.459 54.2244 211.762 55.3458 211.762C55.5047 211.762 55.6637 211.755 55.8226 211.742C55.9816 211.728 56.1295 211.713 56.2663 211.695C56.4032 211.678 56.5334 211.658 56.657 211.636C56.7807 211.614 56.8888 211.592 56.9815 211.569C57.0743 211.547 57.1559 211.528 57.2266 211.51L57.3855 211.47L57.4517 211.444C57.5665 211.399 57.6813 211.408 57.7961 211.47C57.9021 211.532 57.9683 211.625 57.9948 211.748Z" fill="black"/>
<g filter="url(#filter12_d_35_287)">
<circle cx="439.5" cy="207.688" r="22.1731" fill="white"/>
</g>
<g filter="url(#filter13_d_35_287)">
<circle cx="439.5" cy="207.688" r="22.1731" fill="white"/>
</g>
<circle cx="439.5" cy="207.688" r="22.1731" fill="white"/>
<circle cx="439.5" cy="207.688" r="22.1731" fill="white"/>
<path d="M430.444 217.623V213.154H433.05V202.94H430.444V198.631H441.349C442.094 198.631 442.839 198.844 443.531 199.11C444.914 199.642 446.137 200.44 447.095 201.61C447.946 202.621 448.531 203.791 448.85 205.121C449.382 207.356 449.382 209.643 448.744 211.878C447.893 214.804 446.084 216.772 442.999 217.464C442.467 217.57 441.881 217.623 441.349 217.676H430.869C430.71 217.623 430.603 217.623 430.444 217.623ZM438.37 213.154C438.955 213.154 439.541 213.208 440.126 213.154C440.871 213.101 441.562 212.835 442.041 212.197C442.467 211.665 442.839 211.08 443.052 210.441C443.477 209.005 443.318 207.569 442.999 206.132C442.839 205.281 442.413 204.483 441.881 203.845C441.562 203.472 441.137 203.047 440.658 202.993C439.913 202.834 439.115 202.94 438.37 202.94V213.154Z" fill="black"/>
<path d="M430.444 217.623V213.154H433.05V202.94H430.444V198.631H441.349C442.094 198.631 442.839 198.844 443.531 199.11C444.914 199.642 446.137 200.44 447.095 201.61C447.946 202.621 448.531 203.791 448.85 205.121C449.382 207.356 449.382 209.643 448.744 211.878C447.893 214.804 446.084 216.772 442.999 217.464C442.467 217.57 441.881 217.623 441.349 217.676H430.869C430.71 217.623 430.603 217.623 430.444 217.623ZM438.37 213.154C438.955 213.154 439.541 213.208 440.126 213.154C440.871 213.101 441.562 212.835 442.041 212.197C442.467 211.665 442.839 211.08 443.052 210.441C443.477 209.005 443.318 207.569 442.999 206.132C442.839 205.281 442.413 204.483 441.881 203.845C441.562 203.472 441.137 203.047 440.658 202.993C439.913 202.834 439.115 202.94 438.37 202.94V213.154Z" fill="black"/>
<g filter="url(#filter14_d_35_287)">
<circle cx="130.95" cy="54.0372" r="22.1731" fill="white"/>
</g>
<path d="M113.714 53.4395C113.714 51.7062 114.089 50.1645 114.839 48.8145C115.589 47.4478 116.63 46.3895 117.964 45.6395C119.314 44.8728 120.839 44.4895 122.539 44.4895C124.622 44.4895 126.405 45.0395 127.889 46.1395C129.372 47.2395 130.364 48.7395 130.864 50.6395H126.164C125.814 49.9062 125.314 49.3478 124.664 48.9645C124.03 48.5812 123.305 48.3895 122.489 48.3895C121.172 48.3895 120.105 48.8478 119.289 49.7645C118.472 50.6812 118.064 51.9062 118.064 53.4395C118.064 54.9728 118.472 56.1978 119.289 57.1145C120.105 58.0312 121.172 58.4895 122.489 58.4895C123.305 58.4895 124.03 58.2978 124.664 57.9145C125.314 57.5312 125.814 56.9728 126.164 56.2395H130.864C130.364 58.1395 129.372 59.6395 127.889 60.7395C126.405 61.8228 124.622 62.3645 122.539 62.3645C120.839 62.3645 119.314 61.9895 117.964 61.2395C116.63 60.4728 115.589 59.4145 114.839 58.0645C114.089 56.7145 113.714 55.1728 113.714 53.4395ZM146.756 57.1395C146.756 58.0562 146.515 58.9062 146.031 59.6895C145.565 60.4562 144.865 61.0895 143.931 61.5895C143.015 62.0728 141.923 62.3395 140.656 62.3895V64.4145H139.056V62.3645C137.29 62.2145 135.865 61.6895 134.781 60.7895C133.698 59.8728 133.123 58.6312 133.056 57.0645H137.606C137.706 58.0645 138.19 58.7062 139.056 58.9895V55.0395C137.756 54.7062 136.715 54.3812 135.931 54.0645C135.165 53.7478 134.49 53.2395 133.906 52.5395C133.323 51.8395 133.031 50.8812 133.031 49.6645C133.031 48.1478 133.59 46.9312 134.706 46.0145C135.84 45.0978 137.29 44.5812 139.056 44.4645V42.4395H140.656V44.4645C142.406 44.5978 143.79 45.1062 144.806 45.9895C145.823 46.8728 146.39 48.0978 146.506 49.6645H141.931C141.831 48.7645 141.406 48.1812 140.656 47.9145V51.7895C142.04 52.1728 143.106 52.5145 143.856 52.8145C144.606 53.1145 145.273 53.6145 145.856 54.3145C146.456 54.9978 146.756 55.9395 146.756 57.1395ZM137.556 49.4645C137.556 49.8812 137.681 50.2312 137.931 50.5145C138.198 50.7978 138.573 51.0478 139.056 51.2645V47.7895C138.59 47.8728 138.223 48.0562 137.956 48.3395C137.69 48.6062 137.556 48.9812 137.556 49.4645ZM140.656 59.0645C141.156 58.9812 141.548 58.7812 141.831 58.4645C142.131 58.1478 142.281 57.7562 142.281 57.2895C142.281 56.8562 142.14 56.5062 141.856 56.2395C141.59 55.9562 141.19 55.7145 140.656 55.5145V59.0645Z" fill="black"/>
<g filter="url(#filter15_d_35_287)">
<circle cx="356.429" cy="53.4126" r="22.1731" fill="white"/>
</g>
<g clip-path="url(#clip1_35_287)">
<path d="M370.513 53.9939C370.513 52.8168 370.417 51.9578 370.21 51.067H356.709V56.3799H364.634C364.474 57.7002 363.611 59.6886 361.694 61.0247L361.667 61.2026L365.936 64.495L366.232 64.5244C368.948 62.0269 370.513 58.3524 370.513 53.9939" fill="black"/>
<path d="M356.71 67.992C360.592 67.992 363.851 66.7193 366.232 64.5242L361.694 61.0246C360.48 61.8677 358.85 62.4562 356.71 62.4562C352.907 62.4562 349.68 59.9589 348.529 56.5071L348.361 56.5213L343.922 59.9414L343.864 60.102C346.229 64.7786 351.086 67.992 356.71 67.992Z" fill="black"/>
<path d="M348.529 56.5069C348.226 55.6162 348.05 54.6617 348.05 53.6755C348.05 52.6892 348.226 51.7348 348.514 50.844L348.505 50.6543L344.011 47.1793L343.864 47.249C342.89 49.1896 342.331 51.369 342.331 53.6755C342.331 55.982 342.89 58.1612 343.864 60.1019L348.529 56.5069" fill="black"/>
<path d="M356.71 44.8949C359.41 44.8949 361.231 46.0561 362.269 47.0265L366.328 43.0815C363.835 40.775 360.592 39.3593 356.71 39.3593C351.086 39.3593 346.229 42.5725 343.864 47.2491L348.513 50.8441C349.68 47.3923 352.907 44.8949 356.71 44.8949" fill="black"/>
</g>
<defs>
<filter id="filter0_d_35_287" x="193.327" y="154.515" width="114.346" height="114.346" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feMorphology radius="7" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_35_287"/>
<feOffset dx="4" dy="4"/>
<feGaussianBlur stdDeviation="14"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_35_287"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_35_287" result="shape"/>
</filter>
<filter id="filter1_d_35_287" x="192.702" y="67.0712" width="114.346" height="114.346" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feMorphology radius="7" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_35_287"/>
<feOffset dx="4" dy="4"/>
<feGaussianBlur stdDeviation="14"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_35_287"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_35_287" result="shape"/>
</filter>
<filter id="filter2_d_35_287" x="304.505" y="310.663" width="114.346" height="114.346" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feMorphology radius="7" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_35_287"/>
<feOffset dx="4" dy="4"/>
<feGaussianBlur stdDeviation="14"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_35_287"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_35_287" result="shape"/>
</filter>
<filter id="filter3_d_35_287" x="193.327" y="240.084" width="114.346" height="114.346" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feMorphology radius="7" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_35_287"/>
<feOffset dx="4" dy="4"/>
<feGaussianBlur stdDeviation="14"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_35_287"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_35_287" result="shape"/>
</filter>
<filter id="filter4_d_35_287" x="280.771" y="154.515" width="114.346" height="114.346" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feMorphology radius="7" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_35_287"/>
<feOffset dx="4" dy="4"/>
<feGaussianBlur stdDeviation="14"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_35_287"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_35_287" result="shape"/>
</filter>
<filter id="filter5_d_35_287" x="74.0291" y="310.663" width="114.346" height="114.346" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feMorphology radius="7" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_35_287"/>
<feOffset dx="4" dy="4"/>
<feGaussianBlur stdDeviation="14"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_35_287"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_35_287" result="shape"/>
</filter>
<filter id="filter6_d_35_287" x="105.884" y="152.016" width="114.346" height="114.346" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feMorphology radius="7" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_35_287"/>
<feOffset dx="4" dy="4"/>
<feGaussianBlur stdDeviation="14"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_35_287"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_35_287" result="shape"/>
</filter>
<filter id="filter7_d_35_287" x="80.2749" y="73.3171" width="114.346" height="114.346" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feMorphology radius="7" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_35_287"/>
<feOffset dx="4" dy="4"/>
<feGaussianBlur stdDeviation="14"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_35_287"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_35_287" result="shape"/>
</filter>
<filter id="filter8_d_35_287" x="309.502" y="78.3138" width="114.346" height="114.346" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feMorphology radius="7" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_35_287"/>
<feOffset dx="4" dy="4"/>
<feGaussianBlur stdDeviation="14"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_35_287"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_35_287" result="shape"/>
</filter>
<filter id="filter9_d_35_287" x="92.7668" y="252.576" width="114.346" height="114.346" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feMorphology radius="7" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_35_287"/>
<feOffset dx="4" dy="4"/>
<feGaussianBlur stdDeviation="14"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_35_287"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_35_287" result="shape"/>
</filter>
<filter id="filter10_d_35_287" x="303.256" y="239.459" width="114.346" height="114.346" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feMorphology radius="7" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_35_287"/>
<feOffset dx="4" dy="4"/>
<feGaussianBlur stdDeviation="14"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_35_287"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_35_287" result="shape"/>
</filter>
<filter id="filter11_d_35_287" x="0.326904" y="152.016" width="114.346" height="114.346" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feMorphology radius="7" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_35_287"/>
<feOffset dx="4" dy="4"/>
<feGaussianBlur stdDeviation="14"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_35_287"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_35_287" result="shape"/>
</filter>
<filter id="filter12_d_35_287" x="386.327" y="154.515" width="114.346" height="114.346" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feMorphology radius="7" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_35_287"/>
<feOffset dx="4" dy="4"/>
<feGaussianBlur stdDeviation="14"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_35_287"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_35_287" result="shape"/>
</filter>
<filter id="filter13_d_35_287" x="386.327" y="154.515" width="114.346" height="114.346" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feMorphology radius="7" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_35_287"/>
<feOffset dx="4" dy="4"/>
<feGaussianBlur stdDeviation="14"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_35_287"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_35_287" result="shape"/>
</filter>
<filter id="filter14_d_35_287" x="77.7766" y="0.864014" width="114.346" height="114.346" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feMorphology radius="7" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_35_287"/>
<feOffset dx="4" dy="4"/>
<feGaussianBlur stdDeviation="14"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_35_287"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_35_287" result="shape"/>
</filter>
<filter id="filter15_d_35_287" x="303.256" y="0.239502" width="114.346" height="114.346" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feMorphology radius="7" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_35_287"/>
<feOffset dx="4" dy="4"/>
<feGaussianBlur stdDeviation="14"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_35_287"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_35_287" result="shape"/>
</filter>
<clipPath id="clip0_35_287">
<rect width="18.1133" height="18.1133" fill="white" transform="translate(353.618 122.43)"/>
</clipPath>
<clipPath id="clip1_35_287">
<rect width="28.1993" height="28.7314" fill="white" transform="translate(342.329 39.3593)"/>
</clipPath>
</defs>
</svg>

  </div>
  <div>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight">
      The Future of Synthetic Assets is Here
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      zkSynth allows you to create and trade synthetic assets that track the price of any real-world asset, such as stocks, commodities, currencies, and more.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://app.zksynth.com/"
        target="_blank"
        rel="noopener">
        Trade Now
        </Link
      > 
      <Link
        size="lg"
        style="outline"
        href="https://docs.zksynth.com" target="_blank">Read Docs</Link
      >
    </div>
  </div>
</main>
